<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/app.css">
    <title>Document</title>
</head>
<body>
    <div class="text">
        CONNECTING Server Quickbooks
      </div>
      <div class="box">
        <div class="comp"></div>
        <div class="loader"></div>
        <div class="con"></div>
        <div class="byte"></div>
        <div class="server"></div>
      </div>
      <!-- partial -->
    <!-- <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
</body>
</html>